.history {
  @include mixin-flex(center);

  width: 100%;
  height: 100vh;

  .container {
    display: flex;

    width: 70%;
    height: 800px;

    padding: 20px;

    gap: 20px;

    border: 1px solid #000;

    &__side {
      flex: 2;
      height: 100%;

      &__job {
        width: 100%;
        height: 170px;

        padding: 10px;

        transition: all 0.1s linear;

        cursor: pointer;

        h2 {
          position: relative;

          font-weight: 600;

          &::after {
            content: '';

            position: absolute;
            top: 11px;

            transform: translateX(18%);

            width: 0;
            height: 1px;

            background-color: rgb(152, 152, 152);

            transition: all 0.2s linear;
          }
        }
        h3 {
          font-weight: 500;
        }
      }
      .active {
        color: #000;

        h2::after {
          width: 36%;
        }
      }
      .container__side__job:nth-of-type(3).active h2::after {
        transform: translateX(26%);

        width: 16%;
      }
      .inactive {
        color: rgb(216, 216, 216);
      }
    }

    &__main {
      flex: 8;

      padding: 10px;

      border: 1px solid #000;
    }
  }
}
